.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.bold-text1 {
    font-size: 1rem;
    font-weight: 800;
    color: var(--lightGray-color);
    display: flex;
    text-align: end;
    justify-content: flex-end;

    @media screen and (min-width: 2000px) {
        font-size: 2rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 0.9rem;
    }
}

.head-text1 {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: white;
    text-transform: capitalize;
    

    span {
        color: #6973e9;
    }

    @media screen and (min-width: 2000px) {
        font-size: 4rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 2rem;
    }
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.app__profile-item {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;

  img {
    width: 100%;
    height: 170px;
    border-radius: 15px;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;

    img {
      height: 320px;
    }
  }
}
